.conical_hat_deisgn_container{
  display: flex;
  flex-direction: column;
}

.mesh_list_horizontal_container .mesh_list .mesh_item.selected {
  border: 1px solid #000;
}

.texture_list_hoirizontal_container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  min-height: 400px;
}
.texture_list_hoirizontal_container .texture_type_list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap:wrap;
  gap: 2px;
}
.texture_list_hoirizontal_container .texture_list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap:wrap;
  overflow: scroll;
  gap: 10px;
}

.texture_list_hoirizontal_container .texture_list .texture_item.selected {
  border: 1px solid #000;
}

.template_list_hoirizontal_container .template_list{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap:wrap;
  overflow: scroll;
  gap: 10px;
}
.template_list_hoirizontal_container .template_list .template_item.selected {
  border: 1px solid #000;
}